@charset 'utf-8';

/* Reset Style */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%}
body{font-family:ng,'나눔고딕','Nanum Gothic','Malgun Gothic','맑은고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;font-size:12px}
h1,h2,h3,h4,h5,h6{font-weight:normal}
fieldset,li,img{vertical-align:top;border:0}
ul,ol{list-style:none}
button{overflow:visible;cursor:pointer;border:0;background-color:transparent}
button:focus{border:1px solid #4a95e6 !important;outline:0}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none;color:#333; outline:0;}
table{border-spacing:0;border-collapse:collapse}
figure{margin:0}
hr{display:none}
*,input,select,button{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.blind,legend{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:100px;white-space:nowrap}
caption{overflow:hidden;width:1px;height:1px;margin-top:-1px;padding:0;font-size:0;line-height:0;text-indent:-999px;*height:0}
#skip{height:0}
#skip a{display:block;position:absolute;top:-100px;left:0;width:100%;height:25px;text-align:center}
#skip a:focus,#skip a:active{position:absolute;z-index:100;top:0;padding:10px 0;font-size:20px;font-weight:bold;text-decoration:none;color:#fff;background:#0c72b0}

/* Web Fonts */
@font-face{font-family:'ng';src:url(font/NanumGothic.eot);src:url(font/NanumGothic.eot?#iefix) format('embedded-opentype'),url(font/NanumGothic.woff) format('woff'),url(font/NanumGothic.ttf) format('truetype')}
@font-face{font-family:'ng';font-weight:600;src:url(font/NanumGothic-Bold.eot);src:url(font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),url(font/NanumGothic-Bold.woff) format('woff'),url(font/NanumGothic-Bold.ttf) format('truetype')}
@font-face{font-family:'ng';font-weight:800;src:url(font/NanumGothic-ExtraBold.eot);src:url(font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),url(font/NanumGothic-ExtraBold.woff) format('woff'),url(font/NanumGothic-ExtraBold.ttf) format('truetype')}
@font-face{font-family:'nsr';font-weight:normal;font-style:normal;src:url('font/nanumsquarer.eot');src:url('font/nanumsquarer.eot?#iefix') format('embedded-opentype'),
   url('font/nanumsquarer.woff2') format('woff2'),
   url('font/nanumsquarer.woff') format('woff'),
   url('font/nanumsquarer.ttf') format('truetype'),
   url('font/nanumsquarer.svg#nanumsquarerregular') format('svg')}
@font-face{font-family:'nsb';font-weight:normal;font-style:normal;src:url('font/nanumsquareb.eot');src:url('font/nanumsquareb.eot?#iefix') format('embedded-opentype'),
   url('font/nanumsquareb.woff2') format('woff2'),
   url('font/nanumsquareb.woff') format('woff'),
   url('font/nanumsquareb.ttf') format('truetype'),
   url('font/nanumsquareb.svg#nanumsquarebregular') format('svg')}

/* 공통 - input */
input[type='radio']{display:none}
input[type='radio']+label:before{width:16px;height:16px;margin-right:7px;content:'';vertical-align:-4px;background-position:-2px -152px}
input[type='radio']:checked+label:before{background-position:-22px -152px}
input[type='checkbox']{display:none}
input[type='checkbox']+label:before{display:inline-block;width:18px;height:18px;margin-right:7px;content:'';vertical-align:middle;background-position:-2px -132px}
input[type='checkbox']:checked+label:before{background-position:-24px -132px}
input[disabled],button[disabled]{cursor:not-allowed !important}
input[disabled]{background:#eee}
input{height:30px;padding:0 8px;font-size:12px;font-weight:400;border:1px solid #c7c9ce}
input.sm{width:186px !important}
input.md{width:310px !important}
input.lg{width:401px !important}
input.v2{height:34px;padding:6px 12px;font-size:13px;font-weight:600;border:1px solid #d5d6da}

/* 공통 */
.fl{float:left}
.fr{float:right}

/* 공통 - Button Area */
.btn_area{overflow:hidden;position:relative;height:35px;margin-top:30px;text-align:center}
.btn_area.txt_ac{text-align:center}
.btn_area.txt_ar{text-align:right}
.btn_area.txt_al{text-align:left}
.btn_area .al{float:left;position:absolute;top:0;left:0}
.btn_area .ar{float:right;position:absolute;top:0;right:0}
.btn_area .xfs_btn{margin-left:15px}
.btn_area .xfs_btn:first-child{margin-left:0}
.layer_wrap .btn_area .xfs_btn{min-width:80px}
.btn_area.with_paginate{height:35px;text-align:center}
.btn_area.with_paginate .xfs_btn{min-width:80px;padding:8px 13px 9px}
.btn_area.with_paginate.type02{height:85px}
.btn_area.with_paginate.type02 .al,.btn_area.with_paginate.type02 .ar{top:50px}
.btn_area.with_paginate .al{text-align:left}
.btn_area.with_paginate .ar{text-align:right}

/* 레이아웃 - header */
body{min-width:1280px;min-height:780px}
#wrap{position:relative;min-height:100%}

/* 레이아웃 - Contents */
#container{margin-left:260px}
.content_area{overflow:hidden}
.content_inner{margin:44px 2.9850% 44px 2.9850%}
.content_inner.dashboard{margin:40px 2.9850% 40px 2.9850%}

/* 레이아웃 - Footer */
#footer{position:absolute;bottom:38px;left:47px}
#footer .f_logo{display:block;margin-bottom:10px;text-align:center}
#footer .f_logo .sp{width:109px;height:33px;background-position:0 -98px}
#footer .copyright{font-size:11px;line-height:14px;color:#b9cbdd}

/* 메인 > 로그인 */
#wrap.login{position:absolute;;z-index:20;top:0;right:0;bottom:0;left:0;min-width:1280px;min-height:600px;background:#4683b9}
.login_area{position:absolute;top:10%;left:50%;width:682px;height:auto;margin-left:-341px}
.login_area .logo{line-height:0;text-align:center; color: white; font-weight: 300; font-size: 70px; line-height: normal; }
.login_area .logo .sp{width:431px;height:59px;background-position:0 -39px}
.login_area .logo .strong{font-weight: 700; font-size: 0.94em; }
.login_area .box_login{margin-top:39px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#6da3d2}
.login_area .inner_login{width:516px;margin:0 auto;padding:65px 0}
.login_area .placeholder{position:relative}
.login_area .placeholder label{position:absolute;z-index:2;top:23px;left:51px;color:#8d8d8d}
.login_area .placeholder input{position:absolute;z-index:1}
.login_area .placeholder input.focus{z-index:3}
.login_area .id,.login_area .pswd{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:516px;height:62px;padding:15px 0;border:1px solid #829eb4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#fff}
.login_area .pswd{margin-top:18px}
.login_area .id:before{position:absolute;top:23px;left:27px;width:14px;height:17px;content:'';background-position:-181px 0}
.login_area .pswd:before{position:absolute;top:24px;left:27px;width:12px;height:17px;content:'';background-position:-197px -1px}
.login_area label{font-size:16px}
.login_area .btn_login{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:60px;font-size:18px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#1261a4;display:block;}
.login_area .copyright{margin-top:66px;font-size:14px;text-align:center;color:#fff}

/* DID Demo - QR 로그인 */
.qrlogin {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align: middle;text-align: center;border: 1px solid #fff;background-color: #fff;display: none}
.qrlogin img{margin: 5% auto;padding: 8px;line-height: 150px;border: 5px solid #1261a4;cursor: pointer}
.qrlogin button{width:40%;height:60px;margin: 0 3% 5% 3%;font-size:18px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#1261a4;}
.qrlogin p{font-weight: 600;font-size: 15pt;margin-top: 15px;}
.center {margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}