<html>

<head>
    <meta charset="utf-8">
    <title>Demo QR Login</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/qrcode.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>
    <div id="wrap" class="login">
        <!-- Login Area -->
        <div class="login_area">
            <h1 class="logo"><span class="strong">DID</span> Demo</h1>
            <div class="box_login">
                <div class="inner_login" id="login_box">
                    <!-- Button oncick => Create QR -->
                    <button type="button" id="myBtn" class="btn_login">DID 로그인</button>
                    <div id="qr_box" class="qrlogin">
                        <p>QR코드를 모바일에서 스캔 후 인증을 진행해주세요.</p>
                        <div id="qrcode"></div>
                        <button type="button" id="qrCheck">확인</button>
                        <button type="button" id="qrCancel">취소</button>
                    </div>
                </div>
            </div>

            <p class="copyright">ⓒ HANCOM WITH Inc. All rights Reserved</p>
        </div>
        <!-- // Login Area -->
    </div>
</body>

<script src="js/qrlogin.js"></script>

</html>